@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color1: #ff275f
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    /* scroll-behavior: smooth; */
}

body{
    min-height: 2000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header.sticky {
    height: 80px;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header.sticky .banner{
    opacity: 0.5;
}

header .ancora{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    transition: 1s;
    z-index: 1;
    cursor: pointer;
}
header .ancora img{
    height: 40px;
    width: auto;
}

header.sticky .ancora{
    display: none;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    color: white;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}

nav {
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
    margin-right: 30px;

}

header.sticky nav ul {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--color1);
}

#about{
    height: 80vh;
    margin-top: 68px;
    padding: 100px;
}

#about h2{
    font-size: 3em;
}

#about p{
    font-size: 1.2em;
}

#services{
    height: 90vh;
}
#services h2{
    font-size: 3em;
}

#portifolio{
    height: 90vh;
}
#portifolio h2{
    font-size: 3em;
}

#contact{
    height: 90vh;
}
#contact h2{
    font-size: 3em;
}

/*responsivite*/
@media (max-width: 991px) {

    #about{
        margin-top: 25vh;
    }
    #about, header {
        padding: 40px;
    }
    #about h2 {
        font-size: 2em;
    }
    header.sticky .logo {
        left: 40px;
    }
    header.sticky .banner{
        opacity: 0;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    header.sticky nav ul {
        opacity: 1;
        visibility: visible;
    }

    nav ul li a{
        font-size: 2em;
    }



    header.sticky .toggle {
        position: fixed;
        top: 27px;
        right: 40px;
        width: 50px;
        height: 30px;
        cursor: pointer;
        border-top: 3px solid white;
        width: 40px;
    }

    header.sticky .toggle::before {
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background-color: white;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }

    header.sticky .toggle::after{
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background-color: white;
        margin-top: 5px;
        transition: .4s;
        position: relative;
    }

    header.sticky .toggle.active {
        border-top: transparent;
    }

    header.sticky .toggle.active::before{
        transform: rotate(135deg);
    }
    header.sticky .toggle.active::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}   


/* ProgressBar*/

::-webkit-scrollBar {
    width: 0;
}

#scrollPach{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05)
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    /*height: 50%;*/
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

#progressBar::before, #progressBar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressBar::after {
    filter: blur(30px);
}

@keyframes animate 
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }

}