@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side{
    position: relative;
    background-color: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.profileText .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.objetivo{
    padding-top: 40px;
}

.objetivo p{
    margin-top: 5px;
    color: white;
    font-size: 300;
}



.contactInfor{
    padding-top: 40px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

}

.contactInfor ul{
    position: relative;

}

.contactInfor ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfor ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfor ul li span{
    color: white;
    font-size: 300;
}

.linken{
    display: flex;
}

.icon2{
    margin-right: 15px;
}

.text {
    color: white;
    font-size: 300;
}

.contactInfor.idiomas .percent{
    position: relative;
    width: 100%;
    height: 7px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfor.idiomas .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.container .right_side{
    position: relative;
    background-color: white;
    padding: 40px;
}

.experiencia {
    margin-bottom: 50px;
}

.experiencia:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p, li{
    color: #333;
}

.experiencia .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.experiencia .box .year_company {
    min-width: 150px;
    
}

.experiencia .box .year_company h5{
    text-transform: uppercase;
    color: #848c84;
    font-weight: 600;
}
.experiencia .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.experiencia.skills .soft {
    margin-bottom: 20px;
}

.experiencia.skills .soft, .agil ul, .curso ul {
    margin-left: 24px;
}
.hard ul {
    list-style-position: inside;
    columns: 2;
}

.agil {
    margin-top: 20px;
}


@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    
}

@media (max-width: 600px){
    .experiencia .box {
        flex-direction: column ;
    }
    .experiencia .box .year_company{
        margin-bottom: 5px;
    }
}